# ============================================
# Global Configuration
# ============================================
LOG_LEVEL_NAME=

# ============================================
# Bot Configuration
# ============================================
BOT__NAME=
BOT__TOKEN=
BOT__PRIVILEGED_USER_IDS=

# ============================================
# Database Configuration
# ============================================
DB__ENABLED=
DB__USERNAME=postgres
DB__PASSWORD=postgres
DB__HOST=127.0.0.1
DB__PORT=5432
DB__NAME=postgres

# ============================================
# SQLAlchemy Configuration
# ============================================
ALCHEMY__ECHO=
ALCHEMY__ECHO_POOL=
ALCHEMY__MAX_OVERFLOW=

# ============================================
# OpenAI Configuration
# ============================================
OPENAI__ENABLED=
OPENAI__API_KEY=
OPENAI__MODEL=gpt-3.5-turbo
OPENAI__STUB_RESPONSES=
